<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Application Rejected!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.fired.user}">
            Unfortunately you have been fired from your company.
        </p>

        <p>
            <span th:text="#{email.reset.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Streeam</em>
        </p>
    </body>
</html>
